@font-face {
   font-family: 'MontserratAlt1-Light';
   font-display: swap;
   src: url('file:///C:/Users/massi/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-09-04_132457/fonts/MontserratAlt1-Light/font.ttf');
}
