.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: 'Montserrat' !important; //Inter Tight;
}
.display-1 {
  font-family: 'Montserrat';
  font-size: 6rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 7.5rem;
}
.display-2 {
  font-family: 'Montserrat';
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Montserrat';
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-5 {
  font-family: 'Montserrat';
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Montserrat';
  font-size: 1.6rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.8rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.2rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #46763b !important;
}
.bg-success {
  background-color: #d88530 !important;
}
.bg-info {
  background-color: #320707 !important;
}
.bg-warning {
  background-color: #46763b !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #46763b !important;
  border-color: #46763b !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #5a984c !important;
  border-color: #5a984c !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #5a984c !important;
  border-color: #5a984c !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #2e481a !important;
  border-color: #2e481a !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #466d28 !important;
  border-color: #466d28 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #466d28 !important;
  border-color: #466d28 !important;
}
.btn-info,
.btn-info:active {
  background-color: #320707 !important;
  border-color: #320707 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
}
.btn-success,
.btn-success:active {
  background-color: #d88530 !important;
  border-color: #d88530 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #e09e5b !important;
  border-color: #e09e5b !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #e09e5b !important;
  border-color: #e09e5b !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #46763b !important;
  border-color: #46763b !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #5a984c !important;
  border-color: #5a984c !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #5a984c !important;
  border-color: #5a984c !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #46763b;
  color: #46763b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #243c1e !important;
  background-color: transparent !important;
  border-color: #243c1e !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #46763b !important;
  border-color: #46763b !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #2e481a;
  color: #2e481a;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #050803 !important;
  background-color: transparent !important;
  border-color: #050803 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #2e481a !important;
  border-color: #2e481a !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #320707;
  color: #320707;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #320707 !important;
  border-color: #320707 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #d88530;
  color: #d88530;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #95591c !important;
  background-color: transparent !important;
  border-color: #95591c !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #d88530 !important;
  border-color: #d88530 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #46763b;
  color: #46763b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #243c1e !important;
  background-color: transparent !important;
  border-color: #243c1e !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #46763b !important;
  border-color: #46763b !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #46763b !important;
}
.text-secondary {
  color: #2e481a !important;
}
.text-success {
  color: #d88530 !important;
}
.text-info {
  color: #320707 !important;
}
.text-warning {
  color: #46763b !important;
}
.text-danger {
  color: #ffffff !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #1e3219 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #88521a !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #1e3219 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #cccccc !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #46763b;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #320707;
}
.alert-warning {
  background-color: #46763b;
}
.alert-danger {
  background-color: #ffffff;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #46763b;
  border-color: #46763b;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #46763b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #83bb76;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #f8eadc;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f3abab;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #83bb76;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Montserrat';
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 2rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #46763b !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Montserrat';
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 2rem;
}
blockquote {
  border-color: #46763b;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #46763b;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #46763b;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #46763b;
  border-bottom-color: #46763b;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #46763b !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #2e481a !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2346763b' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tOVrnR319l {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-tOVrnR319l .dropdown-item:before {
  //font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-tOVrnR319l .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-tOVrnR319l .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tOVrnR319l .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0px !important;
}
.cid-tOVrnR319l .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tOVrnR319l .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tOVrnR319l .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
  margin-right: 0;
}
.cid-tOVrnR319l .navbar-nav .nav-item {
  padding: 0 !important;
  transition: .3s all !important;
}
.cid-tOVrnR319l .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: .3s all !important;
}
.cid-tOVrnR319l .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-tOVrnR319l .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-tOVrnR319l .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-tOVrnR319l .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: .3s all !important;
}
.cid-tOVrnR319l .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-tOVrnR319l .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-tOVrnR319l .nav-link {
  width: fit-content;
  position: relative;
}
.cid-tOVrnR319l .navbar-logo {
  padding-left: 2rem;
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-tOVrnR319l .navbar-logo {
    padding-left: 1rem;
  }
}
.cid-tOVrnR319l .navbar-caption {
  padding-left: 1rem;
  padding-right: .5rem;
}
@media (max-width: 767px) {
  .cid-tOVrnR319l .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-tOVrnR319l .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: .3s all;
}
.cid-tOVrnR319l .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(216, 133, 48, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #d88530;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-tOVrnR319l .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tOVrnR319l .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-tOVrnR319l .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tOVrnR319l .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: .3s all !important;
  min-width: auto;
  background: #d88530;
  background: rgba(216, 133, 48, 0.8) !important;
}
.cid-tOVrnR319l .nav-item:focus,
.cid-tOVrnR319l .nav-link:focus {
  outline: none;
}
.cid-tOVrnR319l .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tOVrnR319l .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tOVrnR319l .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tOVrnR319l .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tOVrnR319l .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tOVrnR319l .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tOVrnR319l .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-tOVrnR319l .navbar.opened {
  transition: all 0.3s;
}
.cid-tOVrnR319l .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tOVrnR319l .navbar .navbar-logo img {
  width: auto;
}
.cid-tOVrnR319l .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-tOVrnR319l .navbar.collapsed {
  justify-content: center;
}
.cid-tOVrnR319l .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tOVrnR319l .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tOVrnR319l .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.9rem);
  }
}
.cid-tOVrnR319l .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tOVrnR319l .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tOVrnR319l .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tOVrnR319l .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tOVrnR319l .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tOVrnR319l .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-tOVrnR319l .navbar {
    min-height: 72px;
  }
  .cid-tOVrnR319l .navbar .navbar-logo img {
    height: 2rem !important;
  }
}
@media (max-width: 991px) {
  .cid-tOVrnR319l .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tOVrnR319l .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tOVrnR319l .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tOVrnR319l .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tOVrnR319l .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tOVrnR319l .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tOVrnR319l .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-tOVrnR319l .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tOVrnR319l .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tOVrnR319l .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-tOVrnR319l .dropdown-item.active,
.cid-tOVrnR319l .dropdown-item:active {
  background-color: transparent;
}
.cid-tOVrnR319l .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tOVrnR319l .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tOVrnR319l .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tOVrnR319l .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #d88530;
}
.cid-tOVrnR319l .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-tOVrnR319l .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-tOVrnR319l ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tOVrnR319l .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-tOVrnR319l .navbar-buttons {
    text-align: left;
  }
}
.cid-tOVrnR319l button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tOVrnR319l button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tOVrnR319l button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tOVrnR319l button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tOVrnR319l button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tOVrnR319l button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tOVrnR319l nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tOVrnR319l nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tOVrnR319l nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tOVrnR319l nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tOVrnR319l .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tOVrnR319l a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tOVrnR319l .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-tOVrnR319l .icons-menu {
    justify-content: flex-start;
    margin-bottom: .5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tOVrnR319l .navbar {
    height: 70px;
  }
  .cid-tOVrnR319l .navbar.opened {
    height: auto;
  }
  .cid-tOVrnR319l .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tOVrnR319l .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-tOVrnR319l .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-tOVrnR319l .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-tOVrnR319l .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: .3s all;
  transform: rotate(-90deg);
}
.cid-tOVrnR319l .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-tOVrnR319l .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-tOVrnR319l .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-tOVrnR319l .navbar-brand {
    margin-right: auto;
  }
  .cid-tOVrnR319l .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #d88530;
    opacity: 1;
    border-color: rgba(216, 133, 48, 0.8) !important;
    background: rgba(216, 133, 48, 0.8) !important;
    backdrop-filter: blur(8px);
  }
  .cid-tOVrnR319l .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-tOVrnR319l .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-tOVrnR319l .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-tOVrnR319l .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-tOVrnR319l .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-tOVrnR319l .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: .3s all;
    transform: rotate(0deg);
  }
  .cid-tOVrnR319l .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-tOVrnR319l .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-tOVrnR319l .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-tOVrnR319l .navbar-collapse {
    padding: 1rem;
  }
}
.cid-tOT60YmPHz {
  padding-top: 8rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/spreco-alimentare-2-1920x1080.jpg");
}
.cid-tOT60YmPHz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tOT60YmPHz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tOT60YmPHz .card-wrapper {
  background: #46763b;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tOT60YmPHz .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tOT60YmPHz .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tOT60YmPHz .card-wrapper {
    padding: 4rem;
  }
}
.cid-tOT60YmPHz .mbr-text,
.cid-tOT60YmPHz .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-tOT60YmPHz .card-title {
  color: #ffffff;
}
.cid-tOT4s3VBEc {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #d88530;
}
.cid-tOT4s3VBEc .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tOT4s3VBEc .mbr-text {
  text-align: center;
  color: #ffffff;
}
.cid-tOTJphOaRd {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tOTJphOaRd .line {
  background-color: #6592e6;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-tOUik0aE21 {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #46763b;
}
.cid-tOUik0aE21 .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
margin: 0 auto;
}
.cid-tOUik0aE21 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tOUik0aE21 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tOUik0aE21 .item-wrapper {
  background: #ffffff;
  margin-bottom: 2rem;
  padding: 2.25rem;
height: 460px;
}
@media (max-width: 767px) {
  .cid-tOUik0aE21 .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
height: 460px;
  }
}
.cid-tOUik0aE21 .card-title,
.cid-tOUik0aE21 .iconfont-wrapper {
  color: #000000;
  text-align: left;
}
.cid-tOUik0aE21 .content-head {
  max-width: 800px;
}
.cid-tOUik0aE21 .mbr-section-title {
  color: #ffffff;
}
.cid-tOUik0aE21 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tOUik0aE21 .card-text {
  color: #000000;
  text-align: left;
}
.cid-tOTO2XEjxi {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tOTO2XEjxi .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tOTO2XEjxi .mbr-section-subtitle {
  text-align: center;
}
.cid-tOTO2XEjxi .mbr-text {
  text-align: center;
}
.cid-tLek7gQhG7 {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: #d88530;
}
.cid-tLek7gQhG7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tLek7gQhG7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tLek7gQhG7 .item-wrapper {
  display: flex;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tLek7gQhG7 .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tLek7gQhG7 .img-wrapper {
  width: 10rem;
  padding-right: 2rem;
}
.cid-tLek7gQhG7 .card-text {
  color: #000000;
  text-align: left;
}
.cid-tLek7gQhG7 .card-title {
  color: #000000;
height: 110px;
}
.cid-tOTSF3qH9o {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #46763b;
}
.cid-tOTSF3qH9o .mbr-fallback-image.disabled {
  display: none;
}
.cid-tOTSF3qH9o .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tOTSF3qH9o .item-wrapper {
  display: flex;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tOTSF3qH9o .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tOTSF3qH9o .img-wrapper {
  width: 10rem;
  padding-right: 1.5rem;
}
.cid-tOTSF3qH9o .content-head {
  max-width: 800px;
}
.cid-tOTSF3qH9o .card-title {
  text-align: left;
  color: #ffffff;
height: 170px;
}
.cid-tOTSF3qH9o .card-text P {
  text-align: left;
}
.cid-tOTSF3qH9o .card-text {
  color: #ffffff;
}
.cid-tOTSF3qH9o .mbr-section-title {
  color: #ffffff;
}
.cid-tOU1I1GMVX {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tOU1I1GMVX h6 {
  line-height: 1.2;
}
.cid-tOU1I1GMVX img,
.cid-tOU1I1GMVX .item-img {
  width: 100%;
}
.cid-tOU1I1GMVX .item:focus,
.cid-tOU1I1GMVX span:focus {
  outline: none;
}
.cid-tOU1I1GMVX .item {
  cursor: pointer;
}
.cid-tOU1I1GMVX .item-wrapper {
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tOU1I1GMVX .mbr-section-btn {
  margin-top: auto !important;
  text-align: center;
}
.cid-tOU1I1GMVX .mbr-section-title {
  color: #000000;
}
.cid-tOU1I1GMVX .mbr-text,
.cid-tOU1I1GMVX .mbr-section-btn {
  color: #000000;
}
.cid-tOU1I1GMVX .item-title {
  color: #000000;
  text-align: center;
}
.cid-tOU1I1GMVX .item-subtitle {
  color: #000000;
  text-align: center;
}
.cid-tOU1I1GMVX .item-text {
  color: #000000;
  text-align: center;
}
.cid-tOU1I1GMVX .content-head {
  max-width: 800px;
}
.cid-tPagVjD5su {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #46763b;
}
.cid-tPagVjD5su .item-subtitle {
  line-height: 1.2;
  color: #f6a126;
  text-align: left;
}
.cid-tPagVjD5su img,
.cid-tPagVjD5su .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-tPagVjD5su .item:focus,
.cid-tPagVjD5su span:focus {
  outline: none;
}
.cid-tPagVjD5su .item {
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .cid-tPagVjD5su .item {
    margin-top: 1rem;
  }
}
.cid-tPagVjD5su .item-wrapper {
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tPagVjD5su .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tPagVjD5su .mbr-section-title {
  color: #ffffff;
}
.cid-tPagVjD5su .mbr-text,
.cid-tPagVjD5su .mbr-section-btn {
  color: #ffffff;
}
.cid-tPagVjD5su .item-title {
  color: #232323;
}
.cid-tPagVjD5su .content-head {
  max-width: 800px;
}
.cid-tOUh4FIlHL {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #d88530;
}
.cid-tOUh4FIlHL .mbr-fallback-image.disabled {
  display: none;
}
.cid-tOUh4FIlHL .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%!important;
margin: 0 auto;
}
.cid-tOUh4FIlHL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tOUh4FIlHL .item-wrapper {
  background: #46763b;
  margin-bottom: 2rem;
  padding: 2.25rem;
height: 415px;
}
@media (max-width: 767px) {
  .cid-tOUh4FIlHL .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
.cid-tOUh4FIlHL .card-title,
.cid-tOUh4FIlHL .iconfont-wrapper {
  color: #000000;
}
.cid-tOUh4FIlHL .card-text {
  color: #ffffff;
}
.cid-tOUh4FIlHL .content-head {
  max-width: 800px;
}
.cid-tOUh4FIlHL .mbr-section-title {
  color: #ffffff;
}
.cid-tOUh4FIlHL .card-title,
.cid-tOUh4FIlHL .img-wrapper {
  color: #ffffff;
}
.cid-tJS9pBcTSa {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tJS9pBcTSa .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-tJS9pBcTSa form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-tJS9pBcTSa form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-tJS9pBcTSa form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-tJS9NNcTLZ {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #46763b;
}
@media (max-width: 991px) {
  .cid-tJS9NNcTLZ .container {
    padding: 0 16px;
  }
}
@media (max-width: 767px) {
  .cid-tJS9NNcTLZ .container {
    padding: 0 12px;
  }
}
.cid-tJS9NNcTLZ .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-tJS9NNcTLZ .social-row .soc-item {
  margin: 8px;
}
.cid-tJS9NNcTLZ .social-row .soc-item a:hover .mbr-iconfont,
.cid-tJS9NNcTLZ .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #206ebc;
}
.cid-tJS9NNcTLZ .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #f6a126;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.cid-tJS9NNcTLZ .row-links {
  width: 100%;
  justify-content: center;
}
.cid-tJS9NNcTLZ .header-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-tJS9NNcTLZ .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-tJS9NNcTLZ .header-menu li p {
  margin: 0;
}
.cid-tJS9NNcTLZ .copyright {
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}
.cid-tJS9NNcTLZ .mbr-section-title {
  color: #ffffff;
}
